.menu{
    font-size: 72px;
    margin-bottom: 10px;
    text-align: center;
}

.startGameButton{
    width:  684px;
    height: 357px;
    background-color: #FFFFEF;
    border-radius: 50%;
    color: black;
    font-size: 72px;
    cursor: pointer;
    text-align: center;
}

#startDisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
