/*
Designer    :小泉遼太
Date        :2023.6.12
Purpose     :まんじゃらシステム
*/

/*
Designer        :小泉 遼太
Date            :2023.6.12
Function        :役の組み合わせを見る
*/

.checkCombination {
    font-size: 35px;
    text-align: center;
}

.rectangle {
    width: 40;
    height: 60;
    background-color: black;
}

#canvas {
    display: block;
    margin: 0 auto;
}
.scrollableContainer {
    height: 1000px;
    overflow: auto;
}